h1 {text-align : center; color : green; background-color : orange; font-family : Helvetica} 

h2 { color :cyan;}
body {background-color : orange; animation-name : eg;animation-duration:5s}
ul { color :blue ; font-size : 21px;}

