body {background-image: url("bg2_image.png");}
h1 {color :gray; text-align : center ;}
h2 {color : white}
h3 {color :rgb(255, 0, 0);}
ul { color :blue ; font-size : 21px;}
a{color : white;font-size: 15;}